header {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20;
}

header a {
    text-decoration: none;
    font-size: 16px;
    color: #777;
    padding: 5px 12px;
}

header a.active {
    border: 1px solid tomato;
    background-color: pink;
    color: tomato;
    padding: 5px 12px;
}